div {
    width: 200px;
    height: 183px;
    background-color: #FFC8C8;
}

#one {
    border: 5px solid black ;         /* width | style | color */
    margin-bottom: 2px;
    padding-left: 3px;
}

#two {
    border: 5px solid green ;        /* width | style | color */
    border-left-style: dotted;
    margin-bottom: 3px;
    padding-left: 3px;
}

#three {
    border: 5px solid #283618;
    border-radius:  25% 10% ;
    padding: 4%;
}

h1{
    width:90px ;
    border: 2px solid black;
    padding: 2px;
    padding-left: 10px;
    padding-right: 0px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
}