h1{
    text-align: center;
    font-weight: 600;
    text-decoration: green underline dotted;
    letter-spacing: 12px;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

p{
    text-align: justify;
    line-height: 1.5;
    
}
p::selection {
    background-color: bisque;
}
a{
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
    

}

a:hover {
    text-decoration: underline;
}

