html {
    font-size: 19px;        /* html is our root*/
}




#article {
    font-size: 1rem;
}
#button {
    font-size: 0.7rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}
