section {
    width: 400px;
    height: 400px;
    background-color: rgb(127, 78, 5);
    
}
main{
    font-size: 20px;
}

button{
    font-size: 0.8em;         /*Relational Unit*/
}
h1{
    font-size: 2em;
}

